<a href="https://colab.research.google.com/github/soniasankar/python/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to get the largest number from the list
list=[8,4,40,5,25]
large=list[0]
for i in list:
  if i>large:
    large=i
print("Largest number is:",large)

Largest number is: 40

In [ ]:
#Program to search an element from a list
list=[9,45,30,8,44,24]
print(list)
num=int(input("Enter a number to search: "))
for i in list:
  if i==num:
    print("Element found")
    break
else:
  print("Element is not found")

[9, 45, 30, 8, 44, 24]
Enter a number to search: 8
Element found

In [ ]:
#program to sum all the items in list
list=[1,2,3,9,19]
sum=0
for i in list:
  sum=sum+i
print("sum is ",sum)

sum is  34

In [ ]:
#program to remove duplicates from a list
def Remove(duplicate): 
	final_list = [] 
	for num in duplicate: 
		if num not in final_list: 
			final_list.append(num) 
	return final_list 
	
duplicate = [10,20,30,20,10,50,60,40,80,50,40]
print(Remove(duplicate))

[10, 20, 30, 50, 60, 40, 80]

In [ ]:
#function that takes two lists and returns True if they have atleast one common element
def list(list1,list2):
  for i in list1:
    for j in list2:
      if i==j:
        result= True
        return result
print(list([1,2,3,4,5],[6,7,8,9,66,3]))
print(list([1,2,3,4],[2,4,1,3]))

True
True

In [ ]:
#Program to append a list to the second list
list1=[1,2,3,4,5]
list2=['pink','green','red']
list=list1+list2
print(list)

[1, 2, 3, 4, 5, 'pink', 'green', 'red']

In [ ]:
#program to  check if a number is composite or not
n=int(input("enter a number:"))
fact=0
for i in range(1,n):
  if n%i==0:
    fact=i
if fact>1:
  print("composite number")
elif n==1:
  print("neither composite nor prime")
else:
  print("prime number")

enter a number:35
composite number

In [ ]:
#Program to add 2 matrices using list
X=[[2,4,6], [4,8,10], [8,88,9]]
Y=[[7,0,4], [2,2,1], [1,1,1]]
result=[[0,0,0], [0,0,0], [0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    result[i][j]=X[i][j]+ Y[i][j]
print("Sum of matrix",result)

Sum of matrix [[9, 4, 10], [6, 10, 11], [9, 89, 10]]

In [ ]:
#Program to check if string is palindrome or not
def isPalindrome(string):
  rev=''.join(reversed(string))
  if string==rev:
    return True
  return False
string=input("Enter a word: ")
ans=isPalindrome(string)
if (ans):
  print("Palindrome")
else:
  print("Not palindrome")

Enter a word: Table
Not palindrome

In [ ]:
# Python Program to Print Multiplication Table of a Number

num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 8
Multiplication Table of 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80